@import "tailwindcss";

@theme {
  --color-primary: #114f8a;
  --color-secondary: #8c8c8c;
  --color-accent: #e0e7ff;
  --color-dark: #1f2937;
  --color-text: #141414;
  --color-light: #f9fafb;
  --color-bg: #ffffff;
  --color-nav: #6a6a6a;
  --color-nav-light: #b5b5b5;
  --font-sans: "Inconsolata", sans-serif;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  color: var(--color-text);
}

.dark body {
  color: var(--color-light);
}

a {
  transition: all 0.2s ease;
}

@layer components {
  .container {
    @apply max-w-6xl mx-auto px-4 md:px-6;
  }

  .section {
    @apply relative md:py-12 py-8 overflow-hidden;
  }

  .btn {
    @apply inline-block rounded-full bg-primary text-white px-6 py-3 text-base font-semibold hover:bg-primary/90 transition;
  }

  .image-shadow {
    @apply absolute inset-0 -z-10 transform -rotate-3 translate-x-2 translate-y-6 bg-[#e0e7ff] dark:bg-[#1e293b] shadow-xl rounded-lg;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
